<!DOCTYPE html>
<<<<<<< HEAD
<html lang="pt-BR">
=======
<html lang="pt-br">
>>>>>>> 352de075e4627eeabd5d11d482ce40b64e229006

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LabSpace2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LabSpace2.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Kumar+One&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body class="bg-dark">
    <header>
<<<<<<< HEAD
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow koulen" id="nav">
=======
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow koulen">
>>>>>>> 352de075e4627eeabd5d11d482ce40b64e229006
            <div class="container-fluid ">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/imgs/iconefogo.png" alt="" id="icone">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="">
                    <span class="navbar-toggler-icon"></span>
                    </div>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item ">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Admin"
                                asp-action="Index">Admin</a>
                        </li>
                        <li class="nav-item">

                            @await Component.InvokeAsync("CategoriaMenu")
                        </li>
                        <li class="nav-item">

                            <form class="navbar-form navbar-right" asp-controller="Item" asp-action="Search"
                                method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Procurar produto"
                                        name="searchString" value="@ViewData["searchString"]">
                                </div>
                            </form>
                        </li>
                        <li>
                            @await Component.InvokeAsync("CarrinhoResumo")
                        </li>
                        <li class="text-light">
                            @await Html.PartialAsync("_Login")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        @RenderBody()

    </main>

    <footer class="text-light border-top">

        <div class="row text-center hstack mx-auto fs-5 ">
            <div class="col-12 col-sm-4">
                <p class="pt-2  koulen">Funcionamento</p>
                <p>Delivery: 18h-23h</p>
                <hr class="mx-auto" id="linhafooter" />
            </div>

            <div class="col-12 col-sm-4">
                <p class="pt-2  koulen">Local</p>
                <p>Rua: KAKUTARO SHIGUEMOTO <br> GUARARAPES-SP</p>
                <hr class="mx-auto" id="linhafooter" />
            </div>
            
            <div class="col-12 col-sm-4">
                <p class="pt-2 koulen">Redes Sociais</p>
                <p>Siga LABERAS FOOD</p>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <hr class=" mx-auto" id="linhafooter" />
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>
