@model LoginViewModel
<div class="row p-5 m-3 ">
    <form asp-controller="Account" asp-action="Login" method="post" class="col-4 my-5 bg-black rounded-4 mx-auto p-5"
        role="form">
        <div class="d-flex justify-content-center mx-auto" id="icone">
            <img src="~/imgs/iconefogo.png" alt="" class="" id="">
        </div>
        <h2 class="text-light text-center mt-3 p-3">Administração</h2>
        <div asp-validation-summary="All" class="text-danger"></div>


        <label asp-for="UserName" class="control-label text-light "></label>
        <input asp-for="UserName" class="form-control col-md-6" />
        <span asp-validation-for="UserName" class="text-danger"></span>

        <label asp-for="Password" class=" control-label text-light mt-4"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <div class="mt-5 d-flex justify-content-center">
            <input type="submit" class="btn btn-warning col-12" value="Acessar" />
        </div>
        <hr>
        

    </form>
</div>
