@model RegistroViewModel
<div class="row">
  <div class="col">
    <!-- Name input -->
    <div class="form-outline">
      <input type="text" id="form9Example1" class="form-control" />
      <label class="form-label" for="form9Example1">Name</label>
    </div>
  </div>
  <div class="col">
    <!-- Email input -->
    <div class="form-outline">
      <input type="email" id="form9Example2" class="form-control" />
      <label class="form-label" for="form9Example2">Email address</label>
    </div>
  </div>
</div>

<hr />

<div class="row ">
  <div class="col">
    <!-- Name input -->
    <div class="form-outline">
      <input type="text" id="form9Example3" class="form-control" />
      <label class="form-label" for="form9Example3">Name</label>
    </div>
  </div>
  <div class="col">
    <!-- Email input -->
    <div class="form-outline">
      <input type="email" id="form9Example4" class="form-control" />
      <label class="form-label" for="form9Example4">Email address</label>
    </div>
  </div>
</div>