/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#nav[b-o74bqtoawv]{
background-color: #000000;
}
a.navbar-brand[b-o74bqtoawv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
#icone[b-o74bqtoawv]{
  width: 50px;
  height: 50px;
}
.koulen[b-o74bqtoawv]{
  font-family: 'Koulen', sans-serif;
}

.kumar[b-o74bqtoawv]{
  font-family: 'Kumar One', serif;
}

#linhafooter[b-o74bqtoawv]{
  line-height: 3px;
  width: 200px;
}
.btn-warning[b-o74bqtoawv] {
  color: #fff;
  background-color: #F2A900;
}

.nav-pills .nav-link.active[b-o74bqtoawv], .nav-pills .show > .nav-link[b-o74bqtoawv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-o74bqtoawv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-o74bqtoawv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-o74bqtoawv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-o74bqtoawv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-o74bqtoawv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 40px;
  background-color: #3131;
}

#icone2[b-o74bqtoawv]{
  width: 80px;
  height: 80px;
}
